.HomePage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.hero-text {
    color: white;
    text-align: center;
    font-size: 2.6rem;
}
.hero-text span {
    color: #037fff;
}
.h-sub-text {
    text-align: center;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
}
.icons .icon-holder {
    margin-right: 1rem;
}
.icons .icon-holder .icon {
    font-size: 2rem;
    color: #a4acc4;
    transition: all 0.4s ease-in-out;
}
.icons .icon-holder .fb:hover {
    color: blue;
}
.icons .icon-holder .gh:hover {
    color: rgba(212, 45, 212, 0.788);
}
.icons .icon-holder .li:hover {
    color: rgb(0, 60, 255);
}
.icons .icon-holder .ig:hover {
    color: rgb(255, 116, 192);
}
@media screen and (max-width: 800px) {
    .hero-text {
        font-size: 2rem;
    }
}
